<script>
    var cloneBtn = '';
    $(function() {
        $('#form1').submit(function() {
            $('.ajaxError').remove();

            var mode = $('#mode').val();
            if ('add_favorite' === mode) {
                return true;
            }

            $('#mode').val('ajax_cart');
            var form = $('#form1').get()[0];
            var formData = new FormData(form);

            $.ajax({
                url: '{{ url('plugin_EasyCart_ajaxCart') }}',
                method: 'post',
                dataType: 'json',
                data: formData,
                processData: false,
                contentType: false
            }).done(function( res ) {
                if (res.success) {
                    $('{{ cartBtnId|raw }}').after('<button type="button" id="go-cart" class="btn btn-success btn-block prevention-btn" onclick="goCart();">カートに追加</button>');
                    $('{{ cartBtnId|raw }}').remove();
                    $('#cart_area .badge').html(res.totalQty);
                    $('#cart_area .price').html(res.totalPrice);
                    $('#cart .inner').html(res.blockCart);
                }
                else if (res.error) {
                    var key = '';
                    for (key in res.error) {
                        writeErrMsg(key, res.error[key]);
                    }
                }
                else {
                    alert('カート処理に失敗しました。');
                }
            }).fail(function() {
                alert('システムエラーが発生しました。');
            }).complete(function(data) {
                $('.prevention-masked').remove();
                $('{{ cartBtnId|raw }}').prop('disabled', false);
                $('#mode').val('');
            });

            return false;
        });

        {% if form.classcategory_id1 is defined %}
        cloneBtn = $('{{ cartBtnId|raw }}').clone();
        {% endif %}

        $('select[name=classcategory_id1]').change(function() {
            if (!($('#go-cart').length)) {
                return;
            }
            restoreCartBtn();
        });

        $('select[name=classcategory_id2]').change(function() {
            if (!($('#go-cart').length)) {
                return;
            }
            restoreCartBtn();
        });
    });

    function restoreCartBtn() {
        $('#go-cart').after(cloneBtn);
        $('#go-cart').remove();
    }

    function goCart() {
        location.href = '{{ url('cart') }}';
    }

    function closeCart() {
        $('.cart').removeClass('is-visible');
        $('.cart-trigger').removeClass('cart-is-visible');
        $('.overlay').removeClass('cart-is-visible');
    }

    function writeErrMsg(key, msg) {
        var id = $('#' + key).length ? key : 'detail_description_box__name';

        $('#' + id).after(
                '<div id="cart_box__message_error--' + key + '" class="ajaxError message">'
                + '<p class="errormsg bg-danger">'
                + '<svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>'
                + msg.replace('\n', '<br>')
                + '</p>'
                + '</div>'
        );
    }

</script>