    <section class="top-section-group">
      <div class="top-center-title">
        <h2>取り扱いブランド</h2>
        <p class="eng">BRNADS</p>
      </div>

      <ul class="brand_list mt50">
        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>

        <li class="brand_list-item">
          <a href="#">
            <div class="brand_list-photo">
              <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
            </div>
            <h4 class="brand_list-title">オリオセタ</h4>
          </a>
        </li>
      </ul>

      <p class="more-btn" id="more_btn">View More</a>
      <p class="more-btn" id="close_btn">Close</a>
    </section>

  </div>
</div>
