<div id="top"></div>

<header id="header">
  <div class="header_top">
    <div class="header_guide">
      <a class="header_guide-item" href="./guide/shipping">10,000円以上購入で送料無料</a>
      <a class="header_guide-item" href="./guide/delivery">17時迄注文で当日出荷</a>
    </div>
    <a class="header_tel" href="tel:076-264-3221"><i class="fa fa-phone"></i><span>ご注文：076-264-3221</span></a>
    <div class="header_links">
      <a href="#">ご利用ガイド</a>
      <a href="/mypage/login">新規登録・ログイン</a>
    </div>
  </div>

  <div class="header_inner">
    <div id="logo">
      <a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/assets/images/common/logo.png" alt="HIKOTA E-SHOP"></a>
    </div>

    <div class="search_form">
      <form name="search_form_SearchBox" method="get" action="/search/">
        <div class="search_form_input">
          <input type="text" class="site-search-input ui-autocomplete-input" name="text" value="" placeholder="キーワードや商品名で検索">
          <span class="input-group-btn">
            <button class="btn btn-search" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="icon_links">
      <a href="#">
        <img src="{{ app.config.front_urlpath }}/assets/icons/icon_history.png" class="icon_history" alt="購入履歴">
      </a>
      <a href="#">
        <img src="{{ app.config.front_urlpath }}/assets/icons/icon_favo.png" class="icon_favo" alt="お気に入り">
      </a>

      <a href="#cart" class="cart-trigger">
        <img src="{{ app.config.front_urlpath }}/assets/icons/icon_cart.png" class="icon_cart" alt="カート">
        <span class="badge">{{ Cart.total_quantity }}</span>
      </a>
      <div id="cart" class="cart">
        <div class="inner">
        {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
          <div class="message">
            <p class="errormsg bg-danger">
              <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
            </p>
          </div>
        {% endfor %}
        {% for CartItem in Cart.CartItems %}
        {% set ProductClass = CartItem.Object %}
        {% set Product = ProductClass.Product %}
        <div class="item_box clearfix">
          <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}"></div>
          <dl class="item_detail">
            <dt class="item_name">{{ Product.name }}</dt>
            <dd class="item_pattern small">
              {%- if ProductClass.ClassCategory1 -%}
                {{ ProductClass.ClassCategory1.ClassName }}：{{ ProductClass.ClassCategory1 }}
                {%- if ProductClass.ClassCategory2 -%}
                  <br>{{ ProductClass.ClassCategory2.ClassName }}：{{ ProductClass.ClassCategory2 }}
                {%- endif -%}
              {%- endif -%}
            </dd>
            <dd class="item_price">{{ CartItem.price|price }}<span class="small">税込</span></dd>
            <dd class="item_quantity form-group form-inline">数量：{{ CartItem.quantity }}</dd>
          </dl>
        </div><!--/item_box-->
        <p class="cart_price sp">合計 <span class="price">{{ Cart.total_price|price }}</span></p>
        {% endfor %}
        {% if Cart.CartItems|length > 0 %}

          <div class="btn_area">
            <ul>
              <li>
                <a href="{{ url('cart') }}" class="btn btn-primary">カートへ進む</a>
              </li>
              <li>
                <button type="button" class="btn btn-default btn-sm cart-trigger">キャンセル</button>
              </li>
            </ul>
          </div>
        {% else %}
          <div class="btn_area">
            <div class="message">
              <p class="errormsg bg-danger" class="mb20">
                現在カート内に<br>商品はございません。
              </p>
            </div>
          </div>
        {% endif %}
      </div>
      </div>
    </div>
  </div>

  <div class="header_under">
    <nav id="global_navi">
      <div class="menuBtn">
        <label id="nav-open" for="nav-input">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/icon_menu.png" alt="">
        </label>
      </div>
      <div class="naviBox">
        <div class="sp_navi">
          <a href="#">ご利用ガイド</a>
          <a href="#">新規登録・ログイン</a>
        </div>
        <p class="sp_navi3">閲覧履歴・お気に入り<i class="fas fa-caret-down"></i></p>
        <ul class="sp_navi2">
          <li><a href="#" class="header-nav-item">購入履歴</a></li>
          <li><a href="#" class="header-nav-item">お気に入り</a></li>
          <li><a href="#" class="header-nav-item">マイページ</a></li>
        </ul>
        <p class="sp_navi3">商品カテゴリ<i class="fas fa-caret-down"></i></p>
        <ul id="navi_ul" class="clearfix">

          <li class="toggle">
            <a href="#" class="header-nav-item">カラー</a>
            <div class="megamenu">
              <ul class="menu_inner">
                <li><a href="#">color cat1</a></li>
                <li><a href="#">color cat2</a></li>
                <li><a href="#">color cat3</a></li>
                <li><a href="#">color cat4</a></li>
                <li><a href="#">color cat5</a></li>
                <li><a href="#">color cat6</a></li>
              </ul>
            </div>
          </li>

          <li class="toggle">
            <a href="#" class="header-nav-item">パーマ</a>
            <div class="megamenu">
              <ul class="menu_inner">
                <li><a href="#">perm cat1</a></li>
                <li><a href="#">perm cat2</a></li>
                <li><a href="#">perm cat3</a></li>
                <li><a href="#">perm cat4</a></li>
                <li><a href="#">perm cat5</a></li>
                <li><a href="#">perm cat6</a></li>
              </ul>
            </div>
          </li>

          <li class="toggle">
            <a href="#" class="header-nav-item">ヘアケア</a>
            <div class="megamenu">
              <ul class="menu_inner">
                <li><a href="#">hair care1</a></li>
                <li><a href="#">hair care2</a></li>
                <li><a href="#">hair care3</a></li>
                <li><a href="#">hair care4</a></li>
                <li><a href="#">hair care5</a></li>
                <li><a href="#">hair care6</a></li>
              </ul>
            </div>
          </li>

          <li class="toggle">
            <a href="#" class="header-nav-item">スタイリング</a>
            <div class="megamenu">
              <ul class="menu_inner">
                <li><a href="#">styling1</a></li>
                <li><a href="#">styling2</a></li>
                <li><a href="#">styling3</a></li>
                <li><a href="#">styling4</a></li>
                <li><a href="#">styling5</a></li>
                <li><a href="#">styling6</a></li>
              </ul>
            </div>
          </li>

          <li class="toggle">
            <a href="#" class="header-nav-item">その他</a>
            <div class="megamenu">
              <ul class="menu_inner">
                <li><a href="#">other1</a></li>
                <li><a href="#">other2</a></li>
                <li><a href="#">other3</a></li>
                <li><a href="#">other4</a></li>
                <li><a href="#">other5</a></li>
                <li><a href="#">other6</a></li>
              </ul>
            </div>
          </li>

          <li class="sp_none">
            <a href="#" class="header-nav-item">メーカー・ブランドから探す</a>
          </li>
        </ul>

        <p class="sp_navi3">メーカー・ブランドから探す<i class="fas fa-caret-down"></i></p>
        <ul class="sp_navi2">
          <li><a href="#" class="header-nav-item">メーカー一覧</a></li>
          <li><a href="#" class="header-nav-item">ブランド一覧</a></li>
        </ul>

        <p class="sp_navi3">ヘルプ・お問い合わせ<i class="fas fa-caret-down"></i></p>
        <ul class="sp_navi2">
          <li><a href="#" class="header-nav-item">ヘルプ・お問い合わせ</a></li>
        </ul>
      </div>
      <div class="navi_overlay">
        <i id="nav-close" class="fas fa-times"></i>
      </div>
    </nav>
  </div>
</header>
