<img src="{{ app.config.front_urlpath }}/assets/images/common/logo.png" alt="HIKOTA E-SHOP" class="foot-logo">
<p class="foot-info">HIKOTA E-SHOPはサロンで働くプロ専用の美容機器、用品、化粧品総合販売サイトです。</p>

<div class="wrap mt40">
  <ul class="fnav">
    <li class="foot_cat">提供会社</li>
    <li>株式会社彦田</li>
    <li>オンライン事業部</li>
    <li>営業時間：9:00～18:00</li>
    <li>定休日：土、日、祝日</li>
    <li>企業サイト：<a href="https://hikota.com" target="_blank">https://hikota.com/</a></li>
  </ul>

  <ul class="fnav">
    <li class="foot_cat">商品カテゴリ</li>
    <li><a href="#">カラー</a></li>
    <li><a href="#">パーマ</a></li>
    <li><a href="#">ヘアケア</a></li>
    <li><a href="#">スタイリング</a></li>
    <li><a href="#">その他</a></li>
  </ul>

  <ul class="fnav">
    <li class="foot_cat">ご利用ガイド</li>
    <li><a href="{{ url('help_about') }}">お支払について</a></li>
    <li><a href="{{ url('help_about') }}">送料について</a></li>
    <li><a href="{{ url('help_about') }}">配送について</a></li>
    <li><a href="{{ url('help_about') }}">初めての方へ</a></li>
    <li><a href="{{ url('help_about') }}">カタログ販売</a></li>
  </ul>

  <ul class="fnav">
    <li class="foot_cat">当サイトについて</li>
    <li><a href="{{ url('help_agreement') }}">利用規約</a></li>
    <li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表示</a></li>
    <li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
  </ul>
</div>


<p class="copyright">&copy; HIKOTA CO.,LTD.</p>
