<div class="top-contents">
  <div class="wrap">

    <div class="sp-scroll">
      <div class="top-bunners">
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_col.png" alt="カラー">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_per.png" alt="パーマ">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_care.png" alt="ヘアケア">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
        <a href="#">
          <img src="{{ app.config.front_urlpath }}/assets/images/common/bnr_sty.png" alt="スタイリング">
          <p class="caption">説明文がはいります</p>
        </a>
      </div>
    </div>
    
